<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registroForm.get('username')?.hasError('required') && registroForm.get('username')?.touched">
      El nombre de usuario es obligatorio.
    </ion-note>
    <ion-note color="danger" *ngIf="registroForm.get('username')?.hasError('minlength') && registroForm.get('username')?.touched">
      Mínimo 3 caracteres.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registroForm.get('email')?.hasError('required') && registroForm.get('email')?.touched">
      El correo electrónico es obligatorio.
    </ion-note>
    <ion-note color="danger" *ngIf="registroForm.get('email')?.hasError('email') && registroForm.get('email')?.touched">
      Ingresa un correo válido.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registroForm.get('password')?.hasError('required') && registroForm.get('password')?.touched">
      La contraseña es obligatoria.
    </ion-note>
    <ion-note color="danger" *ngIf="registroForm.get('password')?.hasError('minlength') && registroForm.get('password')?.touched">
      Mínimo 6 caracteres.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registroForm.get('confirmPassword')?.hasError('required') && registroForm.get('confirmPassword')?.touched">
      La confirmación de la contraseña es obligatoria.
    </ion-note>
    <ion-note color="danger" *ngIf="registroForm.get('password')?.value !== registroForm.get('confirmPassword')?.value">
      Las contraseñas no coinciden.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="registroForm.invalid">
      Registrarse
    </ion-button>
  </form>
</ion-content>
