<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
    <!-- Nombre de Usuario -->
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="perfilForm.get('username')?.hasError('required') && perfilForm.get('username')?.touched">
      El nombre de usuario es obligatorio.
    </ion-note>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="perfilForm.get('email')?.hasError('required') && perfilForm.get('email')?.touched">
      El correo electrónico es obligatorio.
    </ion-note>
    <ion-note color="danger" *ngIf="perfilForm.get('email')?.hasError('email') && perfilForm.get('email')?.touched">
      Ingresa un correo válido.
    </ion-note>

    <!-- Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="perfilForm.get('password')?.hasError('required') && perfilForm.get('password')?.touched">
      La contraseña es obligatoria.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="perfilForm.invalid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
