<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/inicio" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item routerLink="/perfil" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item routerLink="/creaevento" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          <ion-label>Crear Evento</ion-label>
        </ion-item>
        <ion-item routerLink="/listevent" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          <ion-label>Listado de Eventos</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
        <ion-item routerLink="/qrscanner" routerDirection="forward" (click)="closeMenu()">
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
          <ion-label>Escáner QR</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
