<ion-app>

  <ion-menu contentId="main" menuId="first" side="end" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-icon slot="end" name="ellipsis-horizontal-outline" color="dark" size="large" style="padding-left:10px;"></ion-icon>
        <ion-title slot="end">Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle *ngFor="let m of opciones">
        <ion-item [routerLink]="m.redirecTo" detail="true">
          <ion-icon slot="end" [name]="m.icon" color="dark"></ion-icon>
          <ion-label>{{m.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
      
    </ion-content>
  </ion-menu>




<!--activa las vistas del page al cual se esta navegando por medio del menú-->
<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
